@font-face {
  font-family: "Unica One";
  font-weight: normal;
  src: url("http://fonts.googleapis.com/css?family=Unica+One");
}
@font-face {
  font-family: "Mrs Sheppards";
  font-weight: normal;
  src: url("http://fonts.googleapis.com/css?family=Mrs+Sheppards");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: normal;
  src: url("http://fonts.googleapis.com/css?family=Josefin+Sans:400");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: italic;
  src: url("http://fonts.googleapis.com/css?family=Josefin+Sans:400italic");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: bold;
  src: url("http://fonts.googleapis.com/css?family=Josefin+Sans:700");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-style: italic;
  src: url("http://fonts.googleapis.com/css?family=Josefin+Sans:700italic");
}
/* line 6, ../sass/style.sass */
.group:before, .group:after {
  content: "";
  display: table;
}

/* line 10, ../sass/style.sass */
.group:after {
  clear: both;
}

/* line 13, ../sass/style.sass */
.group > * {
  float: left;
  min-height: 1px;
}

/* line 17, ../sass/style.sass */
.group.right > * {
  float: right;
}

/* line 20, ../sass/style.sass */
.clearfix {
  clear: both;
}

/* line 23, ../sass/style.sass */
div {
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
}

/* line 28, ../sass/style.sass */
body {
  background: #222222 url("../../images/bg_fog.jpg") no-repeat fixed top;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  font-size: 1em;
}

/* line 35, ../sass/style.sass */
p {
  font: 1em/1.5em "Tinos", sans-serif;
  margin-bottom: 1em;
}

/* line 39, ../sass/style.sass */
h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  color: #eee;
}

/* line 45, ../sass/style.sass */
h1 {
  font-size: 3em;
}

/* line 48, ../sass/style.sass */
h2 {
  font-size: 2em;
}

/* line 51, ../sass/style.sass */
a {
  color: #2BFFCD;
  transition: color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.2s;
  -moz-transition: color ease-in-out 0.2s;
  text-decoration: none;
}
/* line 57, ../sass/style.sass */
a:hover {
  color: #00E3AE;
}

/* line 60, ../sass/style.sass */
.transbg {
  background: rgba(0, 0, 0, 0.5);
}

/* line 63, ../sass/style.sass */
#header {
  margin: auto;
  font-weight: bold;
  width: 100%;
}

/* line 68, ../sass/style.sass */
#like_button {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  height: 0;
}

/* line 74, ../sass/style.sass */
.fb-like {
  position: relative;
  top: -6px;
}

/* line 78, ../sass/style.sass */
.nav {
  margin: 0 auto 1em auto;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 640px) {
  /* line 85, ../sass/style.sass */
  .nav {
    display: inline-block;
    width: 100%;
  }
}
/* line 89, ../sass/style.sass */
.nav a {
  text-decoration: none;
}
/* line 91, ../sass/style.sass */
.nav ul {
  display: block;
  max-width: 71em;
  line-height: 2em;
  width: 90.625%;
  height: 4em;
  margin: 0 auto;
}
/* line 98, ../sass/style.sass */
.nav li {
  display: inline-block;
  list-style: none;
  float: left;
  text-align: center;
  width: 16.66667%;
  min-width: 65px;
  font-size: 0.75em;
  line-height: 3.25em;
}
@media (max-width: 640px) {
  /* line 98, ../sass/style.sass */
  .nav li {
    display: block;
    width: 33.33333%;
    height: 4.25em;
  }
}
/* line 111, ../sass/style.sass */
.nav li a {
  display: block;
  padding: 1em 0;
  color: #f2f2f2;
}
/* line 115, ../sass/style.sass */
.nav li a:hover, .nav li a:active {
  color: black;
  background-color: #26ffc9;
  -moz-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

/* line 123, ../sass/style.sass */
.nav_mobilemenu {
  display: none;
}

/* line 128, ../sass/style.sass */
.social_container {
  display: block;
  height: 2em;
  padding-bottom: 1em;
}
@media (max-width: 640px) {
  /* line 128, ../sass/style.sass */
  .social_container {
    height: 3em;
  }
}

/* line 136, ../sass/style.sass */
.social {
  background: url("../../images/social.png") top left no-repeat;
}
/* line 138, ../sass/style.sass */
.social ul {
  list-style-type: none;
  float: right;
}
/* line 141, ../sass/style.sass */
.social li {
  display: inline-block;
}
/* line 143, ../sass/style.sass */
.social li a {
  text-decoration: none;
  display: block;
  width: 32px;
  height: 32px;
}

/* line 149, ../sass/style.sass */
.soundcloud {
  background-position: -10px -10px;
}

/* line 152, ../sass/style.sass */
a.soundcloud:hover {
  background-position: -53px -10px;
}

/* line 155, ../sass/style.sass */
.twitter {
  background-position: -10px -52px;
}

/* line 158, ../sass/style.sass */
a.twitter:hover {
  background-position: -53px -52px;
}

/* line 161, ../sass/style.sass */
.facebook {
  background-position: -10px -94px;
}

/* line 164, ../sass/style.sass */
a.facebook:hover {
  background-position: -53px -94px;
}

/* line 167, ../sass/style.sass */
.socialbg {
  background-color: #222;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 173, ../sass/style.sass */
.wrapper {
  color: #eee;
  width: 90.625%;
  max-width: 71em;
  margin: 0 auto;
}

/* line 179, ../sass/style.sass */
#content, .content {
  color: #eee;
  width: 90.625%;
  max-width: 69em;
  margin: 2em auto;
  padding: 1em;
}

/* line 187, ../sass/style.sass */
.title h1, .title h2 {
  border-bottom: 1px solid #ccc;
}

/* line 190, ../sass/style.sass */
.update {
  width: 100%;
  margin: 0em auto 2em auto;
  padding-bottom: 1em;
}
@media (max-width: 1280px) {
  /* line 190, ../sass/style.sass */
  .update {
    marign: 0em auto;
  }
}

/* line 197, ../sass/style.sass */
.update_kliq {
  display: block;
  height: 10em;
  width: 22%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1em;
}
@media (max-width: 640px) {
  /* line 197, ../sass/style.sass */
  .update_kliq {
    display: none;
  }
}
@media (max-width: 1280px) {
  /* line 197, ../sass/style.sass */
  .update_kliq {
    height: 8em;
    margin: 1em 0;
    width: 100%;
    text-align: center;
  }
}
/* line 211, ../sass/style.sass */
.update_kliq img {
  width: 100%;
  height: 12em;
  opacity: 0.9;
}
@media (max-width: 1280px) {
  /* line 211, ../sass/style.sass */
  .update_kliq img {
    width: 30%;
    height: 10em;
  }
}

/* line 220, ../sass/style.sass */
.update_bubble {
  border-radius: 35px 35px 35px 0px;
  -moz-border-radius: 35px 35px 35px 0px;
  -webkit-border-radius: 35px 35px 35px 0px;
  background: rgba(0, 0, 0, 0.5);
  float: right;
  width: 75.51724%;
  min-height: 6em;
  z-index: 1;
  margin-top: 3em;
}
@media (max-width: 1280px) {
  /* line 220, ../sass/style.sass */
  .update_bubble {
    width: 100%;
    margin-top: 3em;
    min-height: 6em;
  }
}

/* line 235, ../sass/style.sass */
.update_text p {
  padding: 1.5em 2em 0 2em;
  color: #eee;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5em;
  letter-spacing: 1px;
}

/* line 244, ../sass/style.sass */
h1.section_label {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3pt;
}

/* line 249, ../sass/style.sass */
#homepage_container {
  margin-top: 2em;
}

/* line 252, ../sass/style.sass */
.homepage {
  width: 71.46552%;
  width: 98%;
  float: left;
  padding: 1%;
}
@media (max-width: 1280px) {
  /* line 252, ../sass/style.sass */
  .homepage {
    padding: 3%;
    width: 94%;
  }
}

/* line 262, ../sass/style.sass */
.homepage_top {
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  display: block;
}

/* line 266, ../sass/style.sass */
.homepage_title {
  border-top: 6px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0.5em 0;
}

/* line 272, ../sass/style.sass */
.homepage_title h1 {
  font-size: 3em;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 3pt;
}
@media (max-width: 640px) {
  /* line 272, ../sass/style.sass */
  .homepage_title h1 {
    font-size: 240%;
    letter-spacing: 2pt;
    line-height: 1.75em;
  }
}

/* line 283, ../sass/style.sass */
.homepage_posts {
  margin: 1em 0;
}

/* line 287, ../sass/style.sass */
.homepage_posts h1 {
  font: bold 2em/1.5em "Tinos", serif;
  color: #fff;
}
/* line 290, ../sass/style.sass */
.homepage_posts h2 {
  font-size: 1.5em;
}
/* line 292, ../sass/style.sass */
.homepage_posts h3 {
  font-size: 1em;
  font-weight: bold;
}

/* line 296, ../sass/style.sass */
.homepage_archives {
  display: none;
  float: right;
  width: 22.5%;
}
@media (max-width: 1280px) {
  /* line 296, ../sass/style.sass */
  .homepage_archives {
    float: left;
    width: 100%;
    margin-top: 1em;
  }
}
/* line 305, ../sass/style.sass */
.homepage_archives a {
  text-decoration: none;
  color: #f2f2f2;
}
/* line 308, ../sass/style.sass */
.homepage_archives h5 {
  line-height: 1.5em;
  font-family: "Tinos", serif;
  font-weight: normal;
}
/* line 312, ../sass/style.sass */
.homepage_archives h6 {
  font: italic 0.75em/1.5em "Josefin Sans", sans-serif;
}
/* line 315, ../sass/style.sass */
.homepage_archives li {
  list-style-type: none;
  margin: 0.5em;
  padding: 0.5em;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 322, ../sass/style.sass */
.homepage_soundcloud {
  width: 100%;
  margin: 4em 0;
}

/* line 329, ../sass/style.sass */
.album_left {
  float: left;
  width: 48%;
  margin-top: 1em;
  min-height: 10em;
}
@media (max-width: 1280px) {
  /* line 329, ../sass/style.sass */
  .album_left {
    float: none;
    width: 100%;
  }
}

/* line 338, ../sass/style.sass */
.album_right {
  float: right;
  width: 50%;
  margin-top: 1em;
}
@media (max-width: 1280px) {
  /* line 338, ../sass/style.sass */
  .album_right {
    float: none;
    width: 100%;
  }
}

/* line 347, ../sass/style.sass */
.album_desc {
  display: block;
  min-height: 25em;
}
@media (max-width: 1280px) {
  /* line 347, ../sass/style.sass */
  .album_desc {
    min-height: 10em;
    margin-bottom: 2em;
  }
}

/* line 354, ../sass/style.sass */
.cc_license {
  float: right;
}

/* line 357, ../sass/style.sass */
.year {
  float: left;
  font: 2em "Josefin Sans", sans serif;
}
@media (max-width: 640px) {
  /* line 357, ../sass/style.sass */
  .year {
    margin-top: 10px;
  }
}

/* line 365, ../sass/style.sass */
.video_left {
  width: 48%;
  float: left;
  margin-top: 1em;
}
@media (max-width: 1280px) {
  /* line 365, ../sass/style.sass */
  .video_left {
    float: none;
    width: 100%;
  }
}

/* line 373, ../sass/style.sass */
.video_right {
  width: 50%;
  float: right;
  margin-top: 1em;
}
@media (max-width: 1280px) {
  /* line 373, ../sass/style.sass */
  .video_right {
    float: none;
    margin-top: 2em;
    width: 100%;
  }
}

/* line 382, ../sass/style.sass */
.video_desc {
  min-height: 11em;
}
@media (max-width: 1280px) {
  /* line 382, ../sass/style.sass */
  .video_desc {
    min-height: 1em;
    margin-bottom: 4em;
  }
}

@media(max-width: 1280px) {
  /* line 388, ../sass/style.sass */
  .sc_single {
    margin: 1em 0;
  }
}
/* line 392, ../sass/style.sass */
.navigation_top {
  width: 100%;
  margin: 0 auto;
  padding: 2em 0 1em 0;
  text-transform: capitalize;
}

/* line 398, ../sass/style.sass */
.navigation_bottom {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 6em;
  text-transform: capitalize;
}

/* line 404, ../sass/style.sass */
#paginate {
  text-align: center;
  font: 300 0.75em "Tinos", sans-serif;
}

/* line 408, ../sass/style.sass */
#paginate a {
  text-decoration: none;
}

/* line 411, ../sass/style.sass */
.page-numbers {
  background: #111;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 418, ../sass/style.sass */
.page-numbers.current {
  background: #ddd;
  color: #111;
  font-weight: bold;
}
/* line 423, ../sass/style.sass */
.page-numbers a:hover {
  background-color: #2BFFCF;
  color: #222;
  transition: color ease-in-out 0.1s, background-color ease-in-out 0.2s;
  -moz-transition: color ease-in-out 0.1s, background-color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.1s, background-color ease-in-out 0.2s;
}

/* line 430, ../sass/style.sass */
#footer {
  width: 100%;
  padding: 3em 0;
  margin-top: 2em;
  color: #aaa;
  font: italic 1em/1.5em "Josefin Sans", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* line 439, ../sass/style.sass */
p.postmetadata {
  display: none;
}

/* line 442, ../sass/style.sass */
.alignleft {
  float: left;
  margin-right: 15px;
}

/* line 446, ../sass/style.sass */
.alignright {
  float: right;
  margin-left: 15px;
}
